<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumTest">

    <test name="All Components">
        <groups>
            <run>
                <exclude name="4.2" />
            </run>
        </groups>

        <packages>a
            <package name="org.richfaces.tests.showcase.*" />
        </packages>
    </test>
</suite>
