data
target
test-output
.classpath
.settings
.project
.clover
.externalToolBuilders
**/apps/*
archetypes/richfaces-kitchensink-ftest/kitchensink-webdriver-ftest/
.checkstyle
metamer/application/bin
metamer/ftest/bin
