<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumTest">
    <test name="All tests">
        <!-- Need to be this way to preserve order of tests and methods --> 
        <classes >
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestInitialPage"/>

            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestAddAndDeleteAlbum"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestAddAndDeleteAlbumGroup"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestAddAndDeleteComment"/>
            <!--<class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestAddImage"/>-->
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestAlbumViewActivities"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestHowItWorksPanels"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestLeftPanelNavigations"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestLoggedUserFeatures"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestSearch"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestToolbarLinks"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestUserLogging"/>
            <class name="org.richfaces.tests.photoalbum.ftest.webdriver.tests.TestUserLogging2"/>
        </classes>
    </test>
</suite>
